<h3>
  cart items
</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address"> Adress </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button style="margin-bottom:20%" class="button" type="submit">
    Purchase
  </button>
</form>

<a routerLink="/shipping">shipping Prices</a>
